[submodule "engine/lib/libtech"]
	path = engine/lib/libtech
	url = git@github.com:tristanred/libtech.git
[submodule "engine/lib/pugixml"]
	path = engine/lib/pugixml
	url = git@github.com:zeux/pugixml.git
